body {
    background-color: transparent;
    overflow: hidden;
}

.container {
    position: absolute;
    bottom: 5;
    right: 5;

}

.icon {
    width: 25px;
    height: 25px;
    opacity: 0.65;
}

#saved {
    opacity: 0;
    transition: opacity 1s ease;
}