body {
    background-color: transparent;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.icon {
    width: 25px;
    height: 25px;
    opacity: 0.65;
}

#saved {
    opacity: 0;
    transition: opacity 1s ease;
}

#title {
    font-family: 'Calibri', sans-serif;
    width: 110px;
    margin: 0;
    text-align: right;
    color: white;
    opacity: 0.50;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}